// ============================================================================
//== breadcrumb - extends .menu with the --breadcrumb modifier
// ============================================================================

.menu {
  &--breadcrumb {
    --menu-breadcrumb-link-text: #1a1a1a;
    --menu-breadcrumb-link-text-hover: #1a1a1a;

    gap: 1.25rem;
    row-gap: .5rem;

    li {
      position: relative;

      //== chevron separator injected between items via ::after using the icomoon arrow-right icon
      &:not(:last-child)::after {
        content: "\e903" / "";
        position: absolute;
        top: 1px;
        right: -.6rem;
        font-family: 'icomoon' !important;
        position: relative;
        font-size: 0.8rem;
        font-weight: 300;
        color: var(--menu-breadcrumb-link-text);
      }
    }

    a,
    span {
      font-size: 1rem;
      color: var(--menu-breadcrumb-link-text);
      font-weight: 400;
      line-height: 1;
      display: inline-flex;
    }

    a {
      color: var(--menu-breadcrumb-link-text);
      text-decoration: underline;
      text-underline-offset: 3px;
      transition: color .3s;

      &:is(:hover, :focus-visible) {
        color: var(--menu-breadcrumb-link-text-hover);
      }
    }
  }
}