@use "../abstracts/functions";
@use "../abstracts/mixins";
@use "../abstracts/variables";


.ui-icon {
  --ui-icon-font: 2rem;
  --ui-icon-border: 3px solid #1a1a1a;
  --ui-icon-position: -1rem;
  --ui-icon-weight: 300;

  position: absolute;
  background-color: #fff;
  border: var(--ui-icon-border);
  color: #1a1a1a;
  display: flex;
  padding: 0.3rem;
  font-size: var(--ui-icon-font);
  font-weight: var(--ui-icon-weight);
  border-radius: 50%;
  top: var(--ui-icon-position);
  right: var(--ui-icon-position);
}

.ui-form {
  row-gap: 0.625rem;
}

.ui-flex-gap {
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;
}

.ui-panel {
  --ui-panel-surface: var(--colour-surface-muted);
  --ui-panel-text: #1a1a1a;

  background-color: var(--colour-surface-muted);
  border: 2px solid var(--colour-surface-muted);
  padding: functions.clamp-value(1.5rem, 2.5rem) functions.clamp-value(1.5rem, 3rem);
  border-radius: 1rem;
  position: relative;

  &--example {
    background-color: var(--ui-panel-surface);
    border: 2px solid #1a1a1a;
    height: 100%;

    h2,
    p {
      color: var(--ui-panel-text);
    }
  }

  p {
    max-width: 70ch;
  }
}

.colour-results {
  dl {
    background-color: var(--colour-surface-strong);
    padding: 1.5rem functions.clamp-value(1rem, 2rem);
    border-radius: 1rem;
    position: relative;

    >* {
      margin: 0;
    }

    dt {
      font-weight: 400;
    }

    .ui-icon {
      --ui-icon-font: 1.5rem;
      --ui-icon-border: 2px solid #1a1a1a;
      --ui-icon-position: -0.5rem;
      --ui-icon-weight: 600;
    }
  }
}