//== profile card
.profile-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
  flex: 1;

  //== avatar image
  .pc-img {
    width: 56px;
    height: 56px;
    flex-shrink: 0;

    img {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
  }

  //== text content
  .pc-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: .25rem;

    * {
      margin-bottom: 0;
    }

    .pc-title {
      font-weight: 600;

      a {
        font-size: inherit;
        text-decoration: none;
        color: var(--colour-text-link);
        border-bottom: 1px solid var(--colour-text-link);
        transition: color .3s, border-bottom .3s;

        &:is(:hover, :focus-visible) {
          color: var(--colour-text-link-hover);
          border-bottom: 1px solid var(--colour-text-link-hover);
        }
      }
    }
  }
}